.header {
  display: flex;
  justify-content: space-between; /* 左と右に分ける */
  align-items: center; /* 上下中央に揃える */

  padding: 16px 24px;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

/* ナビを右側に表示 */
.nav ul {
  display: flex;
  gap: 20px;
  list-style: none; /* ・を消す */
  margin: 0; /* 余白を消す */
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
}
